@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manjari:wght@100;400;700&display=swap');

:root {
    font-family: "Cal Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 300;
    font-size: 16px;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background: linear-gradient(to top, #182633, #242424);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    margin: 0;
    padding: 0;
    text-align: center;
    text-wrap: pretty;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}

header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-clip: text;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 50px;
}

header h1 {
    position: relative;
    background-clip: text;
    background-image: linear-gradient(2deg, rgb(255, 255, 255) 40%, transparent 40.5%);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 9rem;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 2px;
    overflow: hidden;
    text-wrap: nowrap;
}

header p {
    text-align: center;
    text-wrap: pretty;
    font-size: 1.8rem;
}

.sec {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1.5rem;
    font-family: "Manjari", sans-serif, system-ui;
    font-weight: 400;
}

.display-sec {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}

.display-row {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
}

@media screen and (width < 1050px) {
    header h1 {
        font-size: 3rem;
        -webkit-text-stroke-width: 1px;
        background-image: linear-gradient(2deg, rgb(255, 255, 255) 39%, transparent 39.5%);
    }

    header p {
        font-size: 1rem;
    }

    .sec {
        font-size: 1.25rem;
    }
}